@media all and (min-width: 480px) {
    .newtip {
        padding: 150px 0;
    }

    .newtip form {
        margin: 0 auto;
        max-width: 700px;
    }

    h1 {
        text-align: center;
        padding-bottom: 30px;
    }
} 